<!DOCTYPE html>
<html>
<head>
	<title></title>

<meta charset="utf-8">
<meta http-equiv"X-UA-Compapitable" content="IE=edge">
<link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<h1>Enter grandparent stats</h1>
	<form action="/grandparent" method="POST">
		Name: <input type="text" name="name"><br/>
		Age: <input type="text" name="age"><br/>
		Last Known Location: <input type="text" name="last-known-location"><br/>
		Running Speed: <input type="text" name="running-speed">
		<input type="submit">
	</form>
</body>
</html>