<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>
	<h1>Grandparent Stats</h1>
	<h3> <%= elderly.name %></h3>
	<h3> <%= elderly.age %></h3>
	<h3> <%= elderly.lastKnownLocation %></h3>
	<h3> <%= elderly.runningSpeed %></h3>

	
	<% } %>
	<a href="/grandparents">HOME</a>
</body>
</html>